/glean
/glean.exe
*.tmp
.DS_Store
.inst
refs

# Frontend
frontend/node_modules/
frontend/dist/

# Build output
build/
build/bin/

# Installer dependencies
installer/frontend/node_modules/
installer/frontend/dist/
